select#dropdown.browser-default
  if active_link == 'spanish'
    option(value='1') Periodismo
    option(value='2') Política
    option(value='3') Música
  if active_link == 'english'
    option(value='1') Journalism
    option(value='2') Politics
    option(value='3') Music
