//SlideFinancieras: Pago por internet - Sucursal
.SlideFinancieras.SlideFinancieras--ciudades.is-visible(data-nom="ciudades")
  //- h1.SlideFinancieras-title Selecciona tu banco
  .SlideFinancieras-slideWrapper
    .SlideFinancieras-listButtons    
    .SlideFinancieras-list
      each val in [1]
        .SlideFinancieras-item    
          .link-wrapper
            a.link.seleccionado(href="#", data-nom-entidad="cnddhh")
              img(src="img/proyectos/cnddhh.png", alt="Proyecto CNDDHH")
          .link-wrapper
            a.link(href="#", data-nom-entidad="educacion")
              img(src="img/proyectos/educacion.png",  alt="educacion")  
          .link-wrapper
            a.link(href="#", data-nom-entidad="nexos")
              img(src="img/proyectos/nexos.png", alt="Nexos")           
          .link-wrapper
            a.link(href="#", data-nom-entidad="narcobenefactores")
              img(src="img/proyectos/narcobenefactores.png", alt="narcobenefactores")           
        .SlideFinancieras-item 
          .link-wrapper
            a.link(href="#", data-nom-entidad="14N")
              img(src="img/proyectos/14N.png",  alt="14n.png")
          .link-wrapper
            a.link(href="#", data-nom-entidad="vivienda")
              img(src="img/proyectos/vivienda.png", alt="vivienda")  
          .link-wrapper
            a.link(href="#", data-nom-entidad="metropolitano")
              img(src="img/proyectos/metropolitano.png", alt="metropolitano")        
          .link-wrapper
            a.link(href="#", data-nom-entidad="altiplano")
              img(src="img/proyectos/altiplano.jpg", alt="Proyecto Altiplano")                                                                     
        .SlideFinancieras-item 
          .link-wrapper
            a.link(href="#", data-nom-entidad="cnm")
              img(src="img/proyectos/cnm.jpg", alt="cnm")
          .link-wrapper
            a.link(href="#", data-nom-entidad="lavajuez")
              img(src="img/proyectos/lavajuez.jpg",  alt="lavajuez")         
          .link-wrapper
            a.link(href="#", data-nom-entidad="5-de-abril")
              img(src="img/proyectos/golpe_prensa.jpg",  alt="5-de-abril") 
          .link-wrapper
            a.link(href="#", data-nom-entidad="betetadas")
              img(src="img/proyectos/betetadas.jpg", alt="betetadas")                            
        .SlideFinancieras-item 
          .link-wrapper
            a.link(href="#", data-nom-entidad="laleche")
              img(src="img/proyectos/laleche.jpg", alt="Proyecto la leche")
          .link-wrapper
            a.link(href="#", data-nom-entidad="covid")
              img(src="img/proyectos/covid.png", alt="covid") 
          .link-wrapper
            a.link(href="#", data-nom-entidad="fronton")
              img(src="img/proyectos/fronton.jpg",  alt="fronton")
        
          
