//SlideFinancieras: Pago por internet - Sucursal
.SlideFinancieras.SlideFinancieras--ciudades.is-visible(data-nom="ciudades")
  //- h1.SlideFinancieras-title Selecciona tu banco
  .SlideFinancieras-slideWrapper
    .SlideFinancieras-listButtons    
    .SlideFinancieras-list
      each val in [1]
        .SlideFinancieras-item          
          .link-wrapper
            a.link.seleccionado(href="#", data-nom-entidad="laleche")
              img(src="img/proyectos/laleche.jpg", alt="Proyecto la leche")
          .link-wrapper
            a.link(href="#", data-nom-entidad="altiplano")
              img(src="img/proyectos/altiplano.jpg", alt="Proyecto Altiplano")
          .link-wrapper
            a.link(href="#", data-nom-entidad="arbitrajes")
              img(src="https://idl-reporteros.pe/arbitrajes-cartel-lava-jato/imgs/lavajato.jpg", alt="Proyecto Arbitrajes")
          .link-wrapper
            a.link(href="#", data-nom-entidad="arequipa")
              img(src="img/proyectos/betetadas.jpg", alt="arequipa")                          
        .SlideFinancieras-item   
          .link-wrapper
            a.link(href="#", data-nom-entidad="ayacucho")
              img(src="img/proyectos/cnm.jpg", alt="ayacucho")  
          .link-wrapper
            a.link(href="#", data-nom-entidad="cajamarca")
              img(src="img/proyectos/lavajuez.jpg",  alt="cajamarca")  
          .link-wrapper
            a.link(href="#", data-nom-entidad="chiclayo")
              img(src="img/proyectos/vih.jpg",  alt="chiclayo")     
          .link-wrapper
            a.link(href="#", data-nom-entidad="chimbote")
              img(src="img/proyectos/golpe_prensa.jpg",  alt="chimbote")                           
        .SlideFinancieras-item 
          .link-wrapper
            a.link(href="#", data-nom-entidad="huancayo")
              img(src="https://larepublica.pe/resizer/9pja3xOvWRvTqY3DnJhxH0QYToM=/646x380/top/smart/arc-anglerfish-arc2-prod-gruporepublica.s3.amazonaws.com/public/F5GAIGHRPZD4LEXKFOQFZG2TTA.png", alt="Huancayo") 
          .link-wrapper
            a.link(href="#", data-nom-entidad="huacho")
              img(src="img/proyectos/cabitos.jpg", alt="Huacho")              
          .link-wrapper
            a.link(href="#", data-nom-entidad="huanuco")
              img(src="img/proyectos/otroshow.jpg", alt="Huanuco")     
          .link-wrapper
            a.link(href="#", data-nom-entidad="huaraz")
              img(src="img/proyectos/fronton.jpg",  alt="huaraz")
