extends ../layout/base-en.pug

block _css-files_
  //- link(rel='stylesheet', href='css/app.css')

block _main-content_ 
  if active_link == 'spanish' 
    include ./includes/index-content.pug
  if active_link == 'english' 
    include ./includes/index-content-en.pug
block _js-files_
    
