/*---------------------------------------------------------------------------*
 * OuterContainer
----------------------------------------------------------------------------*/
.OuterContainer {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
}

/*---------------------------------------------------------------------------*
* Fin:OuterContainer
----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*
 * Start: Header
----------------------------------------------------------------------------*/
.Header {
  position: relative;
}
.Header {
  box-sizing: border-box;
}
.Header__info {
  position: relative;
}
.Header__info__content {
  display: table;
  width: 100%;
  padding: 0 10px;
  min-height: 30px;
}
@media (min-width: 640px) {
  .Header__info__content {
    width: 100%;
    max-width: 370px;
    float: right;
  }
}
@media (min-width: 768px) {
  .Header__info__content {
    width: 370px;
    position: absolute;
    right: 0;
    float: none;
    top: 5px;
    padding: 0 10px 0 0;
  }
}
.Header__reservationNumber {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}
@media (min-width: 360px) {
  .Header__reservationNumber {
    text-align: right;
  }
}
.Header__countriesDropdown {
  text-align: right;
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
  width: 95px;
}

/*---------------------------------------------------------------------------*
   * Endof: Header
  ----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*
 * MainNav
----------------------------------------------------------------------------*/
.MainNav, .MainNav * {
  box-sizing: border-box;
}
.MainNav-list {
  padding-top: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #dedede;
}
@media (min-width: 640px) {
  .MainNav-list {
    padding-left: 20px;
  }
}
.MainNav-list:after {
  clear: both;
  font-size: 0;
  height: 0;
  content: " ";
  display: block;
}
.MainNav-item {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  bottom: -1px;
  cursor: pointer;
  float: left;
  font-weight: 300;
  font-size: 13px;
  height: 32px;
  padding: 0 5px;
  display: table;
  text-align: center;
  color: #3D3D3D;
  line-height: 1;
  width: 135px;
  position: relative;
  z-index: 100;
}
@media (min-width: 640px) {
  .MainNav-item {
    font-size: 15px;
    width: 210px;
  }
}
.MainNav-item.is-active {
  background-color: #fff;
  border-color: #dedede;
  color: #135699;
  font-weight: 500;
}
.MainNav-item span {
  display: table-cell;
  vertical-align: middle;
}

/*---------------------------------------------------------------------------*
 * Fin:MainNav
----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*
 * MainContent
----------------------------------------------------------------------------*/
.MainContent {
  display: none;
  max-width: 960px;
  margin: 2rem auto;
}
.MainContent.is-visible {
  display: block;
}
.MainContent-header {
  margin-top: 1rem;
}
.MainContent-content {
  width: 100%;
  margin: auto;
  position: relative;
}
.MainContent--espacios {
  display: block;
  margin: 2rem auto;
}

/*---------------------------------------------------------------------------*
* Fin:MainContent
----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*
 * Start: Input
----------------------------------------------------------------------------*/
.Input {
  border: 1px solid #c5d5e6;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: 13px;
  padding: 0 5px;
  display: inline-block;
  outline: none;
}
.Input {
  box-sizing: border-box;
}
.Input:disabled {
  cursor: not-allowed;
  opacity: 0.65;
  background-color: #dededc;
}

/*---------------------------------------------------------------------------*
 * Endof: Input
----------------------------------------------------------------------------*/
.language-button {
  display: block;
  text-align: center;
  bottom: 56px;
}
@media screen and (max-width: 600px) {
  .language-button {
    margin-top: 1rem;
    width: 91%;
    bottom: 7px;
  }
}

/*---------------------------------------------------------------------------*
 * Footer
----------------------------------------------------------------------------*/
.Footer {
  display: table-cell;
  margin-bottom: 0;
  vertical-align: middle;
  width: 15%;
  text-align: right;
}
.Footer-content {
  padding: 10px 0px;
}
.Footer-ayuda {
  color: #7B7B7B;
  font-size: 12px;
}
.Footer-ayuda span a {
  color: #7B7B7B;
  text-decoration: none;
}
@media (max-width: 767px) {
  .Footer {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/*---------------------------------------------------------------------------*
 * Fin:Footer
----------------------------------------------------------------------------*/
/*# sourceMappingURL=../maps/layout/index.css.map */
