//MainContent - Banca por Internet
section.MainContent--espacios.is-visible
  h1.title-logo
    img(src="img/perfil.jpg", target="_blank")
  .MainContent-header
    .GrupoDropdown
      include ../slides/dropdown-espacios-digitales.pug
  .MainContent-content
    .ProcedimientoPago
      .GrupoTickets
        include ../proyectos/interests/musica.pug
        include ../proyectos/interests/periodismo.pug
        include ../proyectos/interests/politica.pug
    .social-network
      a(href="mailto:genesis.leon.carbajal@gmail.com" target="_blank")
        img(src="img/mail.svg" alt="mail")
      a(href="https://twitter.com/geny_leong" target="_blank")
        img(src="https://img.icons8.com/ios/50/000000/twitter.png" alt="twitter")
      a(href="https://github.com/GenyLeong" target="_blank")
        img(src="img/github.svg" alt="github")
