section.MainContent.is-visible(data-nom="generos")
  h1.title-logo
    img(src="img/perfil.jpg", target="_blank")
  .MainContent-header
    h3.Ticket-title.cv-title Génesis León
  .MainContent-content
    if active_link == 'spanish'
      .ProcedimientoPago
        .row
          .col-12
            h3 Perfil profesional
            p Estudiante de Ciencia Política en PUCP. Más de 4 años de experiencia en programación, análisis y periodismo. Manejo de R y Python para la investigación y comunicación con data.
          .col-12
            h3 Contacto
            p(style="text-align:center")
              span ✎ : <a href="mailto:genesis.leon@pucp.edu.pe">genesis.leon@pucp.edu.pe</a> / 
              span &#9743; : +54 11 34 25 388 /
              span &#9839; : <a href="https://twitter.com/geny_leong">@geny_leong</a>
        .row
          .col-12
            h3 Experiencia
          .row-between
            .col-6
              .item
                p
                  span.title-job Asistente de investigación, CISEPA-PUCP
                p.date-job Mayo 2023 - Octubre 2023
                ul 
                  li Elaboración de informes descriptivos para una mejor comprensión de los resultados de los proyectos de investigación.
                  li Realización de limpieza y análisis de datos para identificar tendencias y patrones en R y Python.
                  li Utilización de herramientas de visualización de datos para presentar resultados de investigación de forma accesible y atractiva.
                  li Revisión bibliográfica para identificar las últimas investigaciones en el campo de estudio, lo que permite tomar decisiones mejor informadas sobre el proyecto.
              .item
                p
                  span.title-job Analista y periodista de datos, Diario La República	
                p.date-job Abr 2020 - Oct 2022
                ul
                  li Redacción y desarrollo de artículos periodísticos en donde se usó el análisis de datos como fuente de información.
                  li Revisión de material bibliográfico y entrevistas para complementar las fuentes de investigación.
                  li Desarrollo de paquetes multimedia para reportajes que incluía vídeo, audio, visualizaciones de datos y fotografías.
            hr
            .col-6
              .item
                p
                  span.title-job Asistente de medios digitales, Misión de Observación Electoral UE	
                p.date-job Dic 2019 - Mar 2020
                ul
                  li Aprovechamiento de las redes sociales y otras herramientas digitales para llegar analizar la comunicación política de los candidartos al gobierno.
                  li Seguimiento de las redes sociales de partidos políticos y candidatos en el marco de las elecciones legislativas extraordinarias. Crowd-tangle, Facebook Ad Library, Twitter API, Tweet map.
                  li Análisis de la estrategia de campaña política y desinformación en medios digitales de partidos políticos y candidatos al gobierno.
                  li Visualización de datos y elaboración de informes sobre la situación electoral.
              .item
                p
                  span.title-job Programadora UI / Safetypay
                p.date-job 2017 - 2018
                ul 
                  li Construcción de prototipos para mejorar la interfaz de usuario en el desarrollo front - end de las plataformas de pago.
              hr.display-mobile
              .item
                p
                  span.title-job Programadora transmedia / La República
                p.date-job 2016 - 2017
                ul
                  li Programación de plataformas interactivas y visualización de datos para el periodismo.
        .row 
          .col-12 
            h3 Formación académica 
          .col-12
            .item
              p
                span.title-job Ciencia política y Gobierno, PUCP
              ul 
                li Ex miembro de la sociedad de debate parlamentario
                li Especial interés por la política comparada, teoría política y organizaciones sociales.
          .col-12
            .item
              p
                span.title-job Diplomatura de Comunicación Política, UBA
              ul 
                li Comunicación y desarrollo de políticas públicas estatales. 
                li Como trabajo final presentamos el plan de comunicación para las promotoras de salud comunitaria de la ciudad de Buenos Aires, quienes forman parte de la organización social Movimiento Evita afiliadas al Registro Nacional de Trabajadores de la Economía Popular.
          .col-12
            .item
              p
                span.title-job Python para el análisis de datos, DMC Perú
              ul 
                li Manipulación y análisis de datasets utilizando la librería Pandas y Selenium.
                li Elaboración de soluciones de visualización de datos y dashboards interactivos para facilitar la interpretación de la información y el análisis de los insights.
                li Empleo de Python para realizar cálculos y aplicar procedimientos estadísticos en el análisis de datos.
                li Implementación de algoritmos básicos de machine learning para la clasificación y clusterización de datasets.
        .row 
          .col-12 
            h3 Actividades
          .col-12
            .item
              ul 
                li Ponente en las Jornadas de Ciencia Política de la Facultad de Sociales de la UBA (Argentina) y en la Jornada de Estudios sobre lo Neorreaccionario en la Universidad Le Havre Normandie (Francia), presentando la investigación titulada: <i>'Las amenazas conservadoras a la democracia: El rol de las medidas punitivistas en Ecuador y Chile en perspectiva comparada'</i>.
                li Participación en el taller de uso de datos del estudio longitudinal "Niños del milenio" organizado por GRADE
        .row-between 
          h3 
            a(href="img/cv/Genesis Leon_ES.pdf" download="Genesis Leon_ES.pdf" target="_blank") Descargar CV 
          h3
            a(href="https://drive.google.com/drive/folders/1-JmcLBzWTiEeurqrt-4Shfa9_ys6CpOp?usp=sharing" target="_blank") Descargar certificados

             
    if active_link == 'english'
      .ProcedimientoPago
        .row
          .col-12
            h3 Professional Profile
             p Political Science student at PUCP. Over 4 years of experience in programming, analysis, and journalism. Proficient in R and Python for research and data communication.
          .col-12
            h3 Contact
            p(style="text-align:center")
              span ✎ : <a href="mailto:genesis.leon@pucp.edu.pe">genesis.leon@pucp.edu.pe</a> / 
              span &#9743; : +54 11 34 25 388 /
              span &#9839; : <a href="https://twitter.com/geny_leong">@geny_leong</a>
        .row
          .col-12
            h3 Experience
          .row-between
            .col-6
              .item
                p
                  span.title-job Research Assistant, CISEPA-PUCP
                p.date-job May 2023 - October 2023
                ul 
                  li Preparation of descriptive reports for a better understanding of research project results.
                  li Data cleaning and analysis to identify trends and patterns using R and Python.
                  li Use of data visualization tools to present research findings in an accessible and attractive way.
                  li Literature review to identify the latest studies in the field, enabling more informed decisions on the project.
              .item
                p
                  span.title-job Data Analyst and Journalist, Diario La República	
                p.date-job Apr 2020 - Oct 2022
                ul
                  li Writing and developing journalistic articles where data analysis was used as a source of information.
                  li Reviewing bibliographic material and conducting interviews to complement research sources.
                  li Developing multimedia packages for reports that included video, audio, data visualizations, and photographs.
            hr
            .col-6
              .item
                p
                  span.title-job Digital Media Assistant, EU Election Observation Mission	
                p.date-job Dec 2019 - Mar 2020
                ul
                  li Utilizing social media and other digital tools to analyze political communication from government candidates.
                  li Monitoring the social media activity of political parties and candidates during the extraordinary legislative elections. Crowd-tangle, Facebook Ad Library, Twitter API, Tweet map.
                  li Analyzing political campaign strategies and misinformation in digital media from political parties and candidates.
                  li Data visualization and reporting on the electoral situation.
              .item
                p
                  span.title-job UI Programmer / Safetypay
                p.date-job 2017 - 2018
                ul 
                  li Building prototypes to enhance the user interface in the front-end development of payment platforms.
              hr.display-mobile
              .item
                p
                  span.title-job Transmedia Programmer / La República
                p.date-job 2016 - 2017
                ul
                  li Programming interactive platforms and data visualizations for journalism.
        .row 
          .col-12 
            h3 Academic Background 
          .col-12
            .item
              p
                span.title-job Political Science and Government, PUCP
              ul 
                li Former member of the parliamentary debate society
                li Special interest in comparative politics, political theory, and social organizations.
          .col-12
            .item
              p
                span.title-job Diploma in Political Communication, UBA
              ul 
                li Communication and development of state public policies. 
                li For the final project, we presented the communication plan for the community health promoters of Buenos Aires, who are part of the social organization Movimiento Evita affiliated with the National Registry of Workers of the Popular Economy.
          .col-12
            .item
              p
                span.title-job Python for Data Analysis, DMC Perú
              ul 
                li Manipulating and analyzing datasets using the Pandas library and Selenium.
                li Creating data visualization solutions and interactive dashboards to facilitate the interpretation of information and analysis of insights.
                li Using Python to perform calculations and apply statistical procedures in data analysis.
                li Implementing basic machine learning algorithms for classification and clustering of datasets.
        .row 
          .col-12 
            h3 Activities
          .col-12
            .item
              ul 
                li Speaker at the Political Science Conference of the Faculty of Social Sciences at UBA (Argentina) and the Neoreactionary Studies Conference at the University of Le Havre Normandie (France), presenting the research titled: <i>'Conservative Threats to Democracy: The Role of Punitive Measures in Ecuador and Chile in Comparative Perspective'</i>.
                li Participation in the data workshop for the longitudinal study "Millennium Children" organized by GRADE
        .row-between 
          h3 
            a(href="img/cv/Genesis Leon_ES.pdf" download="Genesis Leon_ES.pdf" target="_blank") Download CV 
          h3
            a(href="https://drive.google.com/drive/folders/1-JmcLBzWTiEeurqrt-4Shfa9_ys6CpOp?usp=sharing" target="_blank") Download Certificates