
section.MainContent.is-visible(data-nom="generos")
  h1.title-logo
      a(href="#")
        img(src="https://pbs.twimg.com/profile_images/1186728108075945985/3YkeXowI_400x400.jpg", target="_blank")
  .MainContent-header
    h3.Ticket-title.cv-title Génesis León
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
      .row
        .col-12
          h3 Perfil
          p Programadora de plataformas interactivas y visualización de datos. Activista por la información pública y los datos abiertos. Entusiasta del open source. Estudiante de periodismo en PUCP.
        .col-12
          h3 Contacto
          p(style="text-align:center")
            span &#9997; : <a href="mailto:genesis.leon.carbajal@gmail.com">genesis.leon.carbajal@gmail.com</a> / 
            span &#9743; : +51 910 079 406 / 
            span &#9839; : <a href="https://twitter.com/geny_leong">@geny_leong</a>
      .row.row-left
        h3 Experiencia
        .col-right
          .item
            p
              span.title-job PROGRAMMER UI / SAFETYPAY
            p.date-job 2017 - 2018
            p Estuve encargada de analizar información y construir prototipos para mejorar la interfaz de usuario en el desarrollo front - end de las plataformas de pago.
          hr.display-mobile
          .item
            p
              span.title-job TRANSMEDIA DEVELOPER / LA REPUBLICA
            p.date-job 2016 - 2017
            p Investigadora. Programadora de plataformas interactivas y visualización de datos para el periodismo. 
        hr
        .col-left
          .item
            p
              span.title-job PROGRAMMER, DATA JOURNALIST AND DATA ACTIVIST / INDEPENDENT
            p.date-job 2018 - Presente
            p Trabajo muy interesada en acercar información periodística y académica al ciudadano a través de plataformas interactivas. Además en promover el uso de información pública como datos abiertos para lograr el gobierno abierto peruano. A veces me paro al frente a hablar de data activismo.       
    .social-network
      a(href="mailto:genesis.leon.carbajal@gmail.com" target="_blank")
        img(src="img/mail.svg" alt="mail")
      a(href="https://twitter.com/geny_leong" target="_blank")
        img(src="https://img.icons8.com/ios/50/000000/twitter.png" alt="twitter")
      a(href="https://github.com/GenyLeong" target="_blank")
        img(src="img/github.svg" alt="github")
