//MainContent - Pagar en Efectivo
section.MainContent.is-visible(data-nom="ciudades")
  h1.title-logo
      a(href="#")
        img(src="https://pbs.twimg.com/profile_images/1186728108075945985/3YkeXowI_400x400.jpg", target="_blank")
  .MainContent-header
    .GrupoSlides
      include ../slides/slide-proyectos.pug
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
        include ../proyectos/work/ticket-laleche.pug
        include ../proyectos/work/ticket-altiplano.pug
        include ../proyectos/work/ticket-betetadas.pug
        include ../proyectos/work/ticket-cnm.pug
        include ../proyectos/work/ticket-lavajuez.pug
        include ../proyectos/work/ticket-vih.pug
        include ../proyectos/work/ticket-golpeprensa.pug
        include ../proyectos/work/ticket-cabitos.pug
        include ../proyectos/work/ticket-quinrapa.pug
        include ../proyectos/work/ticket-otroshow.pug
        include ../proyectos/work/ticket-fronton.pug
    .social-network
      a(href="mailto:genesis.leon.carbajal@gmail.com" target="_blank")
        img(src="img/mail.svg" alt="mail")
      a(href="https://twitter.com/geny_leong" target="_blank")
        img(src="img/twitter.png" alt="twitter")
      a(href="https://github.com/GenyLeong" target="_blank")
        img(src="img/github.svg" alt="github")

      
      
