//MainContent - Banca por Internet
section.MainContent--espacios.is-visible
  h1.title-logo
    a(href="#")
      img(src="https://pbs.twimg.com/profile_images/1186728108075945985/3YkeXowI_400x400.jpg", target="_blank")
  .MainContent-header
    .GrupoDropdown
      include ../slides/dropdown-espacios-digitales.pug
  .MainContent-content
    //ProcedimientoPago
    .ProcedimientoPago
      //Grupo Tickets - Personas
      .GrupoTickets
        include ../proyectos/espacios/virtuales/musica.pug
        include ../proyectos/espacios/virtuales/periodismo.pug
        include ../proyectos/espacios/virtuales/politica.pug
