.Ticket(data-nom-entidad="huacho")
  .Ticket-title Tortura y muerte en Los Cabitos
  .Ticket-content
    a.bg-transparent(href="http://larepublica.pe/data/tortura-y-muerte-en-los-cabitos/" target="_blank") 
      img(src="img/proyectos/cabitos.jpg", alt="")
    h3 El especial <b> Tortura y muerte en Los Cabitos</b> es una plataforma que reune testimonios de familias afectadas por las torturas y ejecuciones extrajudiciales ocurridos en 1983 durante el gobierno de Alan García. Además se pueden encontrar estadísticas y documentos relacionados.
    h3 
      a(href="http://larepublica.pe/data/tortura-y-muerte-en-los-cabitos/" target="_blank") Puedes ver el trabajo aquí.
