.Ticket(data-nom-entidad="narcobenefactores")
  .Ticket-title Narcobenefactores: El tributo del narco en los márgenes de la Amazonía peruana
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/narcobenefactores-el-tributo-del-narcotrafico-en-los-margenes-de-la-amazonia-peruana/" target="_blank") 
        img(src="img/proyectos/narcobenefactores.png", alt="")
      h3 Esta plataforma comprueba con documentos y evidencia gráfica, cómo los jefes del narco han logrado que las comunidades indígenas y campesinas los dejen operar, mediante el pago de tributos para obras como losas deportivas, refacciones de colegios y acciones sociales.
      h3 
        a(href="https://data.larepublica.pe/narcobenefactores-el-tributo-del-narcotrafico-en-los-margenes-de-la-amazonia-peruana/" target="_blank") Puedes ver el trabajo aquí.      
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/narcobenefactores-el-tributo-del-narcotrafico-en-los-margenes-de-la-amazonia-peruana/" target="_blank") 
        img(src="img/proyectos/narcobenefactores.png", alt="")
      h3 This platform verifies with documents and graphic evidence how drug lords have managed to have indigenous and rural communities allow them to operate by paying tributes for projects such as sports facilities, school renovations, and social initiatives.
      h3 
        a(href="https://data.larepublica.pe/narcobenefactores-el-tributo-del-narcotrafico-en-los-margenes-de-la-amazonia-peruana/" target="_blank") Explore here.
