.Ticket(data-nom-entidad="huaraz")
  .Ticket-title El juicio final: la matanza en el Frontón
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/matanza-en-el-fronton/" target="_blank") 
        img(src="img/proyectos/fronton.jpg", alt="")
      h3 <b> El juicio final: la matanza en el Frontón</b> es una plataforma que sirve como repositorio de víctimas y victimarios de la matanza en el penal El Frontón, ubicado cerca a las costas del Callao, sucedido en 1986 durante el primer gobierno de Alan García.  
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/matanza-en-el-fronton/" target="_blank") 
        img(src="img/proyectos/fronton.jpg", alt="")
      h3 <b> El juicio final: la matanza en el Frontón</b> is an interactive website that serves as a repository of victims and perpetrators of the killing in the El Frontón prison, located near the coast of Callao, which occurred in 1986 during the first government of Alan García.
