.Ticket(data-nom-entidad="arbitrajes")
  .Ticket-title Otros arbitrajes, mismas trampas
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://idl-reporteros.pe/arbitrajes-cartel-lava-jato/" target="_blank")
        img(src="https://idl-reporteros.pe/arbitrajes-cartel-lava-jato/imgs/lavajato.jpg", alt="")
      h3 <b>Otros arbitrajes, mismas trampas </b> es un especial que descubre, detalla y compara las corrupciones arbitrales que perpetraron empresas brasileñas del Cartel Lavajato en el Perú. Este especial cuenta con 2 visualizaciones con los que colaboré. 
      h3   
        a(href="https://idl-reporteros.pe/arbitrajes-cartel-lava-jato/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://idl-reporteros.pe/arbitrajes-cartel-lava-jato/" target="_blank")
        img(src="https://idl-reporteros.pe/arbitrajes-cartel-lava-jato/imgs/lavajato.jpg", alt="")
      h3 <b>Otros arbitrajes, mismas trampas </b> is an interactive web that discovers, details and compares the arbitral corruption perpetrated by Brazilian companies of the Lavajato Cartel in Peru. This interactive web has 2 visualizations with which I collaborated.
      h3   
        a(href="https://idl-reporteros.pe/arbitrajes-cartel-lava-jato/" target="_blank") Explore the interactive web here.
  
