.Ticket.is-visible(data-nom-entidad="cnddhh")
  .Ticket-title Remodelación del sitio web de la CNDDHHH
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://derechoshumanos.pe/" target="_blank")
        img(src="img/proyectos/cnddhh.png", alt="")
      h3 Realicé la reestructuración del contenido en wordpress, el desarrollo y la creación de secciones especiales con ayuda de ACF y código personalizado.
      h3   
        a(href="https://derechoshumanos.pe/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://derechoshumanos.pe/" target="_blank")
        img(src="img/proyectos/cnddhh.png", alt="")
      h3 I restructured the content in WordPress, developed, and created special sections using ACF and custom code.
      h3   
        a(href="https://derechoshumanos.pe/" target="_blank") Explore here.
  
