.Ticket(data-nom-entidad="huanuco")
  .Ticket-title El otro gran show
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/otro-gran-show/" target="_blank") 
        img(src="img/proyectos/otroshow.jpg", alt="")
      h3 <b>El otro gran show </b> es una plataforma que analiza cómo el consumo masivo de la vida privada de los personajes de la farándula peruana se ha convertido en un negocio rentable y de qué manera la gente consume estos contenidos.
      h3 
        a(href="https://genyleong.gitlab.io/tv/static/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/otro-gran-show/" target="_blank") 
        img(src="img/proyectos/otroshow.jpg", alt="")
      h3 <b>El otro gran show </b> is a platform that analyzes how the private life of the characters of the Peruvian show has become a profitable business and how people consume these contents.
      h3 
        a(href="https://genyleong.gitlab.io/tv/static/" target="_blank") Explore the interactive web here.
