.Ticket(data-nom-entidad="huacho")
  .Ticket-title Tortura y muerte en Los Cabitos
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/tortura-y-muerte-en-los-cabitos/" target="_blank") 
        img(src="img/proyectos/cabitos.jpg", alt="")
      h3 El especial <b> Tortura y muerte en Los Cabitos</b> es una plataforma que reune testimonios de familias afectadas por las torturas y ejecuciones extrajudiciales ocurridos en 1983 durante el gobierno de Alan García. Además se pueden encontrar estadísticas y documentos relacionados.
      
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/tortura-y-muerte-en-los-cabitos/" target="_blank") 
        img(src="img/proyectos/cabitos.jpg", alt="")
      h3 <b> Tortura y muerte en Los Cabitos</b> is an interactive website that collects testimonies of families affected by the tortures and extrajudicial executions that occurred in 1983 during the Alan García government. You can also find statistics and related documents.
