.Ticket(data-nom-entidad="educacion")
  .Ticket-title Abandono escolar se agudizó en 2020: una radiografía a la educación
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/abandono-escolar-2020-radiografia-educacion/" target="_blank")
        img(src="img/proyectos/educacion.png", alt="")
      h3 Este es un informe periodístico que se realizó con datos de la ENAHO por trimestre sobre deserción escolar debido a la pandemia y otras causas estructurales como el impacto por zona geográfica, lengua materna, nivel socioeconómico, discapacidad, entre otros.
      h3 
        a(href="https://data.larepublica.pe/abandono-escolar-2020-radiografia-educacion/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/abandono-escolar-2020-radiografia-educacion/" target="_blank")
        img(src="img/proyectos/educacion.png", alt="")
      h3 This is a journalistic report based on quarterly ENAHO data on school dropout rates due to the pandemic and other structural causes, such as the impact by geographic area, mother tongue, socioeconomic level, disability, among others.
      h3 
        a(href="https://data.larepublica.pe/abandono-escolar-2020-radiografia-educacion/" target="_blank") Explore the interactive here.
  
