.Ticket(data-nom-entidad="nexos")
  .Ticket-title Nexos e interacciones: ¿Cómo se conectan los candidatos en Twitter?
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/nexos-interacciones-como-se-conectan-candidatos-en-twitter/" target="_blank") 
        img(src="img/proyectos/nexos.png", alt="")
      h3 Explora los tweets y likes de los principales candidatos presidenciales del proceso electoral de 2021. Para armar su red de interacción también se extrajo tweets y likes de las cuentas con las que tuvieron más de 2 interacciones. Además se construyó nubes de palabras con los intereses afines de acuerdo al contenido que compartían.
      h3 
        a(href="https://data.larepublica.pe/nexos-interacciones-como-se-conectan-candidatos-en-twitter/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/nexos-interacciones-como-se-conectan-candidatos-en-twitter/" target="_blank") 
        img(src="img/proyectos/nexos.png", alt="")
      h3 Explores the tweets and likes of the main presidential candidates in the 2021 electoral process. To build their interaction network, tweets and likes were also extracted from accounts with which they had more than 2 interactions. Additionally, word clouds were created to show common interests based on the content they shared.
      h3 
        a(href="https://data.larepublica.pe/nexos-interacciones-como-se-conectan-candidatos-en-twitter/" target="_blank") Explore here.
