.Ticket(data-nom-entidad="vivienda")
  .Ticket-title Políticas habitacionales benefician a personas con más ingresos, mientras aumenta el déficit habitacional en sectores D/E
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/politicas-habitacionales-benefician-a-personas-con-mas-ingresos-mientras-aumenta-deficit-en-sectores-D-E-bonos-vivienda/" target="_blank") 
        img(src="img/proyectos/vivienda.png", alt="")
      h3 En este informe se cruzó datos de los módulos de ingresos y vivienda de la ENAHO del 2015 al 2021 para analizar cómo se distribuyen los bonos habitacionales en el país. Se evidenció un alto índice de déficit cualitativo: mientras que en los sectores D/E predomina la autoconstrucción, aquellos que obtienen los beneficios estatales son los que tienen altos ingresos.
      h3 
        a(href="https://data.larepublica.pe/politicas-habitacionales-benefician-a-personas-con-mas-ingresos-mientras-aumenta-deficit-en-sectores-D-E-bonos-vivienda/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/politicas-habitacionales-benefician-a-personas-con-mas-ingresos-mientras-aumenta-deficit-en-sectores-D-E-bonos-vivienda/" target="_blank") 
        img(src="img/proyectos/vivienda.png", alt="")
      h3 In this report, data from the income and housing modules of the ENAHO from 2015 to 2021 was cross-referenced to analyze how housing subsidies are distributed in the country. A high qualitative deficit was evidenced: while self-construction predominates in the D/E sectors, those who receive state benefits are the ones with higher incomes.
      h3 
        a(href="https://data.larepublica.pe/politicas-habitacionales-benefician-a-personas-con-mas-ingresos-mientras-aumenta-deficit-en-sectores-D-E-bonos-vivienda/" target="_blank") Explore here.
