.Ticket.is-visible(data-nom-entidad="laleche")
  .Ticket-title La leche prometida
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://ojo-publico.com/1331/familia-lechera-los-millonarios-contratos-del-grupo-niisa-con-el-vaso-de-leche" target="_blank")
        img(src="img/proyectos/laleche.jpg", alt="")
      h3 <b>La leche prometida</b> es un especial transfronterizo de Ojo Público que analiza los contratos del Programa Vaso de Leche de Perú con NIISA, su principal proveedora. Este especial cuenta con 2 visualizaciones con los que colaboré. 
      h3 
        a(href="https://ojo-publico.com/1331/familia-lechera-los-millonarios-contratos-del-grupo-niisa-con-el-vaso-de-leche" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://ojo-publico.com/1331/familia-lechera-los-millonarios-contratos-del-grupo-niisa-con-el-vaso-de-leche" target="_blank")
        img(src="img/proyectos/laleche.jpg", alt="")
      h3 <b>La leche prometida</b> it's an investigation cross-border of Ojo Público that analyzes the contracts of the Vaso de Leche program of Peru with NIISA, its main provider. This special has 2 visualizations with which I collaborated.
      h3 
        a(href="https://ojo-publico.com/1331/familia-lechera-los-millonarios-contratos-del-grupo-niisa-con-el-vaso-de-leche" target="_blank") Explore the interactive here.
