.Ticket(data-nom-entidad="huancayo")
  .Ticket-title Quinrapa: El primer pueblo que combatió el terrorismo
  .Ticket-content
    a.bg-transparent(href="http://larepublica.pe/data/comite-autodefensa-quinrapa/" target="_blank") 
      img(src="img/proyectos/quinrapa.jpg", alt="")
    h3 <b> Quinrapa: El primer pueblo que combatió el terrorismo</b> es una plataforma que reune testimonios de ciudadanos de la sierra del país que formaron comités de defensa en contra del terrorismo de PCP-SL durante la guerra interna. 
    h3 
      a(href="http://larepublica.pe/data/comite-autodefensa-quinrapa/" target="_blank") Puedes ver el trabajo aquí.
