.Ticket(data-nom-entidad="altiplano")
  if active_link == 'spanish'
    .Ticket-title Indígenas por el clima
    .Ticket-content
      a.bg-transparent(href="https://wayka.pe/indigenas-por-el-clima/" target="_blank")
        img(src="img/proyectos/altiplano.jpg", alt="")
      h3 <b>Indígenas por el clima</b> es un especial que retrata cómo comunidades indígenas ubicadas en las zonas altoandinas del Perú enfrentan las consecuencias del cambio climático, además de la falta de apoyo gubernamental y la pérdida de sus principales medios de subsistencia.
      h3   
        a(href="https://wayka.pe/indigenas-por-el-clima/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-title Frosts in the highlands
    .Ticket-content
      a.bg-transparent(href="https://wayka.pe/indigenas-por-el-clima/" target="_blank")
        img(src="img/proyectos/altiplano.jpg", alt="")
      h3 <b>Frosts in the highlands</b> is an interactive web that explains how indigenous communities located in the upper and lower areas of Peru deal with the consequences of climate change, in addition to the lack of government support and the loss of their main livelihoods.
      h3   
        a(href="https://wayka.pe/indigenas-por-el-clima/" target="_blank") Explore the interactive web here.
