.Ticket(data-nom-entidad="arequipa")
  .Ticket-title #Betetadas
  .Ticket-content
    a.bg-transparent(href="https://genyleong.github.io/betetadas/" target="_blank")
      img(src="img/proyectos/betetadas.jpg", alt="")
    h3 <b>#Betetadas</b> es una web que reune en tiempo real tweets de la parlamentaria fujimorista Karina Beteta, quien parece pensar que uno de sus trabajos (o quizá es su pasatiempo) en el congreso es el de ser abogada de Keiko Fujimori o calificar a las personas -críticos de ella y de su partido- como "terrucas, rojas o caviares". <br> Esta web se conecta a Google Spreedsheats y Workbench data. 
    h3 
      a(href="https://genyleong.github.io/betetadas/" target="_blank") Puedes ver el trabajo aquí.
