.Ticket(data-nom-entidad="chiclayo")
  .Ticket-title La epidemia invisible
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://idl-reporteros.pe/VIH-Amazonia/" target="_blank")
        img(src="img/proyectos/vih.jpg", alt="")
      h3 <b> La epidemia invisible</b> es una web desarrollada en conjunto con IDL-R cuyo objetivo principal es mostrar de manera interactiva y amigable la investigación realizada por la periodista Rosa Laura sobre el brote de VIH en la selva del Perú.
      h3 
        a(href="https://idl-reporteros.pe/VIH-Amazonia/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://idl-reporteros.pe/VIH-Amazonia/" target="_blank")
        img(src="img/proyectos/vih.jpg", alt="")
      h3 <b> La epidemia invisible</b> it's a website developed for IDL-R whose main objective is to show in an interactive and intuitive way the investigation carried out by the journalist Rosa Laura about the HIV outbreak in the jungle of Peru.
      h3 
        a(href="https://idl-reporteros.pe/VIH-Amazonia/" target="_blank") Explore the interactive here.
  
