.Ticket(data-nom-entidad="chimbote")
  .Ticket-title Golpe a la prensa
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/5-de-abril/" target="_blank") 
        img(src="img/proyectos/golpe_prensa.jpg", alt="")
      h3 El especial <b> Golpe a la prensa</b> es una plataforma que recuerda el golpe de estado del ex dictador Alberto Fujimori. Está narrada desde el punto de vista de cómo ese acontecimiento afectó a la libertad de prensa. Cuenta con una infografía interactiva, una simulación de la edición de La República del día siguiente y videos de testimonios de periodistas. 
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="http://larepublica.pe/data/5-de-abril/" target="_blank") 
        img(src="img/proyectos/golpe_prensa.jpg", alt="")
      h3 <b> Golpe a la prensa</b> is an interactive website that recalls the coup d'etat of former dictator Alberto Fujimori. It is narrated from the point of view of how that event affected press freedom. It has an interactive infographic, a simulation of the edition of La Republica newspaper which was censored, and videos of testimonies from journalists.
