.Ticket(data-nom-entidad="14N")
  .Ticket-title 14N, una deuda sin saldar: recuento de heridas aún abiertas y una lenta justicia
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") 
        img(src="img/proyectos/14N.png", alt="")
      h3 Es un especial interactivo que conmmemora el 14N, día central de una jornada de protestas en contra del gobierno ilegítimo de Manuel Merino. Se analiza paso a paso la línea de mando, los antecedentes y los hechos de abuso policial que desencadenó en el asesinato de 2 jóvenes.
      h3 
        a(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") 
        img(src="img/proyectos/14N.png", alt="")
      h3 It's an interactive special commemorating the 14N, the central day of protests against the illegitimate government of Manuel Merino. It analyzes step by step the chain of command, the background, and the police abuses that led to the murder of two young people.
      h3 
        a(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") Explore here.
