.Ticket(data-nom-entidad="metropolitano")
  .Ticket-title Metropolitano: las irregularidades y los motivos detrás del retraso de su ampliación hasta Carabayllo
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") 
        img(src="img/proyectos/metropolitano.png", alt="")
      h3 Es un informe que analiza 10 informes de la Contraloría publicados entre diciembre de 2020 y diciembre de 2021 y diversos contratos del Sistema de Corredores Segregados de Alta Capacidad (COSAC) 1 —o comúnmente conocido como Metropolitano— para explicar las problemáticas alrededor de la ampliación del tramo norte, que va desde Comas hasta Carabayllo.
      h3 
        a(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") 
        img(src="img/proyectos/metropolitano.png", alt="")
      h3 It's a report that analyzes 10 audits from the Comptroller's Office published between December 2020 and December 2021, along with various contracts related to the High-Capacity Segregated Corridor System (COSAC) 1 —commonly known as the Metropolitano— to explain the issues surrounding the expansion of the northern section, which runs from Comas to Carabayllo in Lima.
      h3 
        a(href="https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/" target="_blank") Explore here.
