.Ticket(data-nom-entidad="arequipa")
  .Ticket-title #Betetadas
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://genyleong.github.io/betetadas/" target="_blank")
        img(src="img/proyectos/betetadas.jpg", alt="")
      h3 <b>#Betetadas</b> es una web que reune en tiempo real tweets de la parlamentaria fujimorista Karina Beteta, quien es conocida por sus controversiales opiniones como el de calificar a las personas -críticos de ella y de su partido- de "terrucas, rojas o caviares". <br> Esta web se conecta a Google Spreedsheats y Workbench data. 
      h3 
        a(href="https://genyleong.github.io/betetadas/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://genyleong.github.io/betetadas/" target="_blank")
        img(src="img/proyectos/betetadas.jpg", alt="")
      h3 <b>#Betetadas</b> It's a website that collects real-time tweets from Fujimorista parliamentarian Karina Beteta, who is known for her controversial opinions such as qualifying people - critics of her and her party - of "terrucas, reds or caviars." <br> This website connects to Google Spreedsheats and Workbench data.
      h3 
        a(href="https://genyleong.github.io/betetadas/" target="_blank") Explore the interactive here.
