.Ticket(data-nom-entidad="huanuco")
  .Ticket-title El otro gran show
  .Ticket-content
    a.bg-transparent(href="http://larepublica.pe/data/otro-gran-show/" target="_blank") 
      img(src="img/proyectos/otroshow.jpg", alt="")
    h3 <b>El otro gran show </b> es una plataforma que analiza cómo el consumo masivo de la vida privada de los personajes de la farándula peruana se ha convertido en un negocio rentable y de qué manera la gente consume estos contenidos.
    h3 
      a(href="http://larepublica.pe/data/otro-gran-show/" target="_blank") Puedes ver el trabajo aquí.
