.Ticket.Ticket-banamex(data-nom-entidad="ayacucho")
  .Ticket-title Mapa relacional CNM
  .Ticket-content
    a.bg-transparent(href="https://genyleong.github.io/CNM/" target="_blank") 
      img(src="img/proyectos/cnm.jpg", alt="")
    h3 El<b> mapa relacional CNM</b> es una web desarrollada con D3.JS que busca encontrar vínculos de los personajes implicados en el escándalo por corrupción de los CNMAudios. Además de los vínculos, se puede conocer una pequeña descripción de quienes son y que hacen. El mapa es adaptable a diversos dispositivos si se regulan los nodos y enlaces. También cuenta con un buscador por si tienen un nombre en mente. 
    h3 
      a(href="https://genyleong.github.io/CNM/" target="_blank") Puedes ver el trabajo aquí.
