.Ticket(data-nom-entidad="huancayo")
  .Ticket-title Más de 200 mil personas son esclavos en el Perú [DATA]
  if active_link == 'spanish'
    .Ticket-content
      a.bg-transparent(href="https://larepublica.pe/sociedad/1137147-mas-de-200-mil-personas-son-esclavos-en-el-peru-data/" target="_blank") 
        img(src="https://larepublica.pe/resizer/9pja3xOvWRvTqY3DnJhxH0QYToM=/646x380/top/smart/arc-anglerfish-arc2-prod-gruporepublica.s3.amazonaws.com/public/F5GAIGHRPZD4LEXKFOQFZG2TTA.png", alt="")
      h3 <b> Más de 200 mil personas son esclavos en el Perú [DATA]</b> es un informe investigativo sobre las estadísticas del trabajo precario y forzado en el Perú, comparado a nivel latinoamericano. Para realizar este informe se extrapolaron bases de datos del Ministerio Público, el banco mundial y de Walk Free Foundation.
      h3 
        a(href="https://larepublica.pe/sociedad/1137147-mas-de-200-mil-personas-son-esclavos-en-el-peru-data/" target="_blank") Puedes ver el trabajo aquí.
  if active_link == 'english'
    .Ticket-content
      a.bg-transparent(href="https://larepublica.pe/sociedad/1137147-mas-de-200-mil-personas-son-esclavos-en-el-peru-data/" target="_blank") 
        img(src="https://larepublica.pe/resizer/9pja3xOvWRvTqY3DnJhxH0QYToM=/646x380/top/smart/arc-anglerfish-arc2-prod-gruporepublica.s3.amazonaws.com/public/F5GAIGHRPZD4LEXKFOQFZG2TTA.png", alt="")
      h3 <b> Más de 200 mil personas son esclavos en el Perú [DATA]</b> it's an investigative report on the statistics of precarious and forced labor in Peru, compared with different Latin American countries. To produce this report, we extrapolated databases from the Public Ministry, the World Bank and the Walk Free Foundation.
      h3 
        a(href="https://larepublica.pe/sociedad/1137147-mas-de-200-mil-personas-son-esclavos-en-el-peru-data/" target="_blank") Explore the interactive here.
