.social-network{
  text-align: center;
  a{
    display: inline-block;
    img{
          width: 21px;
          margin:7px;
    }
  }
}

.quote-cite{
  margin: 0;
  padding: 1rem 4rem 0rem 4em;
  font-family: monospace, serif;
  font-size: 13px;
}

.cv-title{
  letter-spacing: 4px;
}
